nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid grey;
    background-color: rgb(48, 0, 74);
    height: auto;
    list-style: none;
}

.navigation-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-links li {
    margin-right: 20px;
    list-style: none;
}

.navigation-links li:last-child {
    margin-right: 0;
}

.navigation-links a {
    text-decoration: none;
}

header {
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    color: white;
    overflow: hidden;
}

.body-text {
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.site-title:visited {
    color: rgb(206, 187, 215);
}

.search-button i.fa-search {
    color: white;
    border-radius: none;
    background-color: rgb(97, 195, 58);
    font-size: 50px;
    float: right;
}

.nav-link:hover {
  background-color: rgb(97, 195, 58);
  color: white;
  text-decoration: none;
  border: 2px solid rgb(206, 187, 215);
}

.nav-link.visited {
  color: rgb(206, 187, 215);
}

.background-color {
    background-color: rgb(206, 187, 215);
    background-size: cover;
    width: 100%;
}

.main-heading {
    font-family: 'Fredoka One';
    font-family: 'Open Sans', sans-serif;
}

.contact-heading {
    font-family: 'Fredoka One';
    font-family: 'Open Sans', sans-serif;
}

.form-heading {
    font-family: 'Fredoka One';
    font-family: 'Open Sans', sans-serif;
}

.about-heading {
    font-family: 'Fredoka One';
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}

.banner-image {
    position: relative;
    object-fit: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}

.cupcakes {
    height: 375px;
    width: 525px;
    object-fit: cover;
    float: right;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 1rem;
    animation: reveal 3s;
}

@keyframes reveal {
    0% {
        opacity:0;
    }
    100% {
        opacity: 100%;
    }
}
.banner-logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 1;
}

footer {
    background-color: rgb(48, 0, 74);
    padding: 10px;
}

.footer-link {
    text-decoration: none;
    color: rgb(206, 187, 215);
}

h4 {
    color: rgb(206, 187, 215);
    text-decoration: none;
}

.form-label {
    padding: 10px;
}

.about-image {
    position: relative;
    object-fit: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    border: 5px solid rgb(48, 0, 74);
}